<div class="preview-wrapper">
  <div #miniPreviewContainer class="mini-preview-container"></div>
  <div class="width-control">
    <button (click)="decreaseWidth()" class="control-btn">-</button>
    <span class="width-value">רוחב {{dynamicParams.width}} ס"מ</span>
    <button (click)="increaseWidth()" class="control-btn">+</button>
  </div>
  <div class="length-control">
    <button (click)="decreaseLength()" class="control-btn">-</button>
    <span class="length-value">אורך {{dynamicParams.length}} ס"מ</span>
    <button (click)="increaseLength()" class="control-btn">+</button>
  </div>
  <div class="shelf-height-control">
    <button (click)="decreaseShelfHeight()" class="control-btn">-</button>
    <span class="shelf-height-value">גובה {{shelfGaps[2]}} ס"מ</span>
    <button (click)="increaseShelfHeight()" class="control-btn">+</button>
  </div>
</div>
