.fill-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    -webkit-overflow-scrolling: touch;
    /* For iOS */
}

.fill-height::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}

/* ================ frame */

.h-small-h-md-unset {
    height: 44%;
    min-height: 330px;
}

.h-big-h-md-100 {
    height: 80vw;
    transform: translateY(-70px);
}

@media only screen and (min-width: 768px) {
    .h-small-h-md-unset {
        height: unset;
    }

    .h-big-h-md-100 {
        height: 100vw;
        transform: none;
    }
}

.slide-image-con {
    position: absolute;
    top: -10px;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) {
    .slide-image-con {
        top: -40px;
    }
}

.slide-image-con-not-rtl {
    left: 0;
    right: unset;
}

.slide-image {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .slide-image {
        /* height: auto; */
        width: 90vh;
    }
}

.zx-home-t-device {
    font-size: 28px;
    padding: 2px 0;
    font-family: 'OS Aran W FFC', sans-serif;
    color: white;
    background-color: var(--zx-green);
}

.zx-home-t-device-small {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--zx-green);
    font-family: 'OS Aran W FFC', sans-serif;
}

.zx-home-t-big {
    font-size: 28px;
    font-family: 'OS Aran W FFC', sans-serif;
    color: var(--zx-blue-dark);
}

.zx-home-t-medium {
    font-size: 28px;
    font-family: 'OS Aran W FFC', sans-serif;
    line-height: 20px;
    color: var(--zx-blue-dark);
}

.main-title-width {
    min-width: 350px;
}

@media only screen and (min-width: 576px) {
    .zx-home-t-device {
        font-size: 45px;
        border-radius: 8px;
    }

    .zx-home-t-device-small {
        font-size: 22px;
        border-radius: 4px;
    }

    .zx-home-t-big {
        font-size: 45px;
    }

    .zx-home-t-medium {
        font-size: 28px;
    }

    .main-title-width {
        min-width: 490px;
    }
}

/* ==== scroll icon ============================ */

.scroll-downs {
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 7px;
    /* 70% of the original size */
}

.mousey {
    display: block;
    width: 14px;
    /* 70% of the original size */
    height: 24.5px;
    /* 70% of the original size */
    border: 1px solid rgba(255, 255, 255, 0.7);
    /* 70% of the original size */
    border-radius: 8.75px;
    /* 70% of the original size */
    opacity: 0.75;
    box-sizing: border-box;
    position: relative;
}

.scroller {
    width: 3px;
    /* 70% of the original size */
    height: 3px;
    /* 70% of the original size */
    border-radius: 50%;
    position: absolute;
    top: 7px;
    /* 70% of the original size */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        top: 7px;
    }

    /* 70% of the original size */
    50% {
        top: 14px;
    }

    /* 70% of the original size */
    100% {
        top: 7px;
    }

    /* 70% of the original size */
}

/* ================ video */

.video-container {
    position: relative;
}

.box-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-110px);
    transition: transform 1s;
    position: relative;
    z-index: 0;
}

.box-video-scrolled {
    transform: translateY(-170px);
    transition: transform 1s;
}

@media only screen and (min-width: 768px) {
    .box-video {
        width: 500px;
        height: auto;
    }
}

/* =================== RUTTLR TRY NNOW btn */

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(1);
    }

    1.5% {
        transform: rotate(-3deg) scale(1.1);
    }

    3% {
        transform: rotate(3deg) scale(1.1);
    }

    5% {
        transform: rotate(-3deg) scale(1.1);
    }

    7% {
        transform: rotate(3deg) scale(1.1);
    }

    9% {
        transform: rotate(0deg) scale(1.1);
    }

    23% {
        transform: rotate(0deg) scale(1);
    }
}

.try-now-btn {
    animation: shake 10s ease-in-out infinite;
    animation-delay: 6s;
    max-height: 28px;
    background-color: #22313D !important;
    color: white !important;
    padding: 0 40px;
}

.text-intro {
    font-size: 14px;
    font-weight: bold;
    color: var(--zx-green-vivid-mid);
    transform: translateY(-62px);
}

.text-intro-big {
    font-size: 18px;
    color: var(--zx-green);
}

/* ================ home BG item */
@keyframes bgColorChange {
    0% {
        background-color: #f4f4f485;
        box-shadow: 0 0 11px #b3b3b33e;
    }

    25% {
        background-color: #ffffff;
        box-shadow: 0 0 8px rgba(139, 139, 139, 0.313);
    }

    50% {
        background-color: #f4f4f485;
        box-shadow: 0 0 11px #b3b3b33e;
    }

    75% {
        background-color: #ffffff;
        box-shadow: 0 0 8px rgba(139, 139, 139, 0.313);
    }

    100% {
        background-color: #f4f4f485;
        box-shadow: 0 0 11px #b3b3b33e;
    }
}

.zx-bg-home-item {
    animation: bgColorChange 10s infinite;
    padding: 10px 8px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--zx-green);
    font-family: "Heebo", sans-serif;
}

@keyframes shakeStep {
    0% {
        transform: rotate(0deg) scale(1);
    }

    10% {
        transform: rotate(-2deg);
    }

    20% {
        transform: rotate(3deg) scale(1.4);
    }

    40% {
        transform: rotate(-3deg) scale(1.42);
    }

    60% {
        transform: rotate(3deg) scale(1.4);
    }

    80% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.shake-animate {
    animation: shakeStep 1.5s ease-in-out;
}


@keyframes shakeStepLight {
    0% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1.18);
    }

    65% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.shake-animate-light {
    animation: shakeStepLight 1.3s ease-in-out;
}

.hide-animate {
    transform: translateX(120%);
    transition: transform 500ms;
}

.show-animate {
    transform: translateX(0);
    transition: transform 500ms;
}


.hide-animate-bottom {
    transform: translateY(300%) rotate(8deg) scale(0.4);
    transition: transform 1200ms;
}

.show-animate-bottom {
    transform: translateY(-50%) rotate(-8deg) scale(1);
    transition: transform 1200ms;
}

.show-animate-bottom-not-rtl {
    transform: translateY(-50%) rotate(8deg) scale(1);
    transition: transform 1200ms;
}

.hide-animate-fade {
    opacity: 0;
    transform: translateY(300%) scale(0.85);
    transition: 500ms;
}

.show-animate-fade {
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: 500ms;
}

.zx-border-dark {
    border: 1px solid var(--zx-dark);
}

.arrow-curve {
    width: 35px;
    height: 18px;
    border-radius: 10px 0 0 0;
    border-top: 1px solid var(--zx-dark);
    border-left: 1px solid var(--zx-dark);
    transform: translateY(200%);
    position: relative;
}

.arrow-curve-not-rtl {
    transform: translateY(200%) scaleX(-1);
}

@keyframes opacityChange {

    0%,
    100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.9;
    }
}

.arrow-curve::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--zx-dark);
    transform: translateX(-4px) scale(0.7);
    animation: opacityChange 2.5s infinite;
}

.zx-font-heebo-small {
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--zx-blue-dark);
}

.zx-font-heebo-medium {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--zx-blue-dark);
}

.text-blue-dark {
    color: var(--zx-blue-dark);
}

.text-green-mid {
    color: var(--zx-green-vivid-mid);
}

/* background */

.home-background-con {
    height: 100vh;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    opacity: .3;
}

.home-bg-blur-con {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 60px 15px 140px 15px;
}