::ng-deep .fill-screen-modal-image-preview {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        margin: 15px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

mat-expansion-panel {
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.1) !important;
}

mat-expansion-panel:hover {
    box-shadow: 4px 4px 15px var(--zx-gray-85);
    transition: 300ms;
    cursor: pointer;
}

::ng-deep mat-expansion-panel-header.mat-expansion-panel-header.zx-flex-row-reverse {
    flex-direction: row-reverse !important;
}

::ng-deep mat-expansion-panel-header.mat-expansion-panel-header.zx-flex-row-reverse span {
    justify-content: end !important;
}

::ng-deep div.mat-expansion-panel-body {
    padding: 0;
}

.zx-max-100-vh {
    max-height: 100vh;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}

.zx-p-fc-preview {
    padding: 56px 56px 15px 14px;
}

.zx-p-fc-preview-rtl {
    padding: 56px 14px 15px 56px;
}

@media only screen and (min-width: 992px) {
    .zx-p-fc-preview {
        padding: 86px 86px 45px 44px;
    }

    .zx-p-fc-preview-rtl {
        padding: 86px 44px 45px 86px;
    }
}

/* ========================== */

/* general main components */

@import '../../../assets/typology';

// img preview

.zx-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    box-shadow: 0 0 2px var(--zx-green);
}

.zx-preview-img-rotated {
    transform: translateX(-50%);
}

.zx-preview-img-rotated-not-rtl {
    transform: translateX(50%);
}

.preview-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.preview-image-inner-not-centered {
    transform: rotate(90deg) translateY(-50%);
    transform-origin: left;
}

.preview-image-inner-not-centered-not-rtl {
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: right;
}

.preview-image-inner-centered {
    transform: rotate(90deg) translateX(50%);
    transform-origin: center;
}

.zx-100-opacity {
    opacity: 0;
}

.zx-c-and-w-img {
    filter: grayscale(100%);
}

// dimentiion 

.dimm-container-up {
    position: absolute;
    width: 100%;
    height: 16px;
    top: -16px;
    display: flex;
    flex-direction: row;
}

.dimm-container-side {
    position: absolute;
    height: 100%;
    width: 16px;
    left: -16px;
    display: flex;
    flex-direction: row-reverse;
}

.dimm-container-side-plotter {
    position: absolute;
    height: 100%;
    width: 16px;
    left: -22px;
    display: flex;
    flex-direction: row-reverse;
}

.dimm-container-side-express {
    position: absolute;
    height: 100%;
    width: 16px;
    left: -16px;
    display: flex;
    flex-direction: column;
}

.dimm-container-side-not-rtl {
    left: unset;
    right: -16px;
    flex-direction: row;
}

.dimm-container-side-not-rtl-express {
    left: unset;
    right: -16px;
    flex-direction: column;
}

.dimm-container-side-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.dimm-side-lines {
    height: 100%;
    width: 60%;
    border-top: 1px solid var(--zx-gray-mid);
    border-bottom: 1px solid var(--zx-gray-mid);
    display: flex;
    justify-content: center;
}

.dimm-side-line {
    height: 100%;
    border-left: 1px solid var(--zx-gray-mid);
}

.dimm-number-side {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.dimm-number-side-not-rtl {
    transform: translateY(-50%) translateX(100%);
}

.dimm-number-side-not-rtl-express {
    transform: translateY(-50%) translateX(50px);
}

.dimm-container-up-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dimm-up-lines {
    width: 100%;
    height: 60%;
    border-left: 1px solid var(--zx-gray-mid);
    border-right: 1px solid var(--zx-gray-mid);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dimm-up-line {
    width: 100%;
    border-bottom: 1px solid var(--zx-gray-mid);
}

.dimm-number-up {
    position: absolute;
    top: -29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(50%);
}

/* MORE */

::ng-deep .mat-mdc-dialog-surface {
    max-height: 100vh;
    overflow: hidden;
}

.zx-grayscale {
    filter: grayscale(100%);
}