.fill-height {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.zx-que-header {
    background-color: var(--zx-pink-que-oppacity);
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zx-vh-50 {
    height: 50vh;
    min-height: 50vh;
}

/* big font sizes */

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

/* small font sizes */

.zx-que-text-huge {
    font-size: 70px;
}

.zx-que-text-big {
    font-size: 42px;
}

.zx-que-text-medium {
    font-size: 32px;
}

.zx-que-text-small {
    font-size: 28px;
}

.zx-que-text-tiny {
    font-size: 22px;
}

/* text effects - title-que-trans */

@keyframes gradientWave {

    0%,
    30%,
    100% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    80% {
        background-position: 100% 50%;
    }
}

.title-que-trans {
    background: linear-gradient(-55deg, white, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.85)) no-repeat;
    background-size: 200% 100%;
    animation: gradientWave 8s linear infinite;
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* qr */

.zx-que-small-line {
    border-top: 1px solid white;
    min-width: 20px;
}

.zx-que-qr-con {
    padding: 28px;
    margin-top: 56px;
    border-radius: 28px;
    width: 440px;
    min-height: 440px;
    background-color: white;
    box-shadow: 0 0 10px var(--zx-white-50-pr);
}

/* place */

.zx-que-place-con {
    padding: 0 56px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}


.zx-que-place-con article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    border-radius: 28px;
    background-color: var(--zx-pink-que-oppacity);
}

.zx-icon-con {
    width: 140px;
    height: 140px;
    min-height: 140px;
    min-width: 140px;
    max-width: 140px;
    max-height: 140px;
    padding: 25px;
}

/* que */

.zx-que-que-con {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 56px;
}


.zx-que-que-con article {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border-radius: 28px;
    background-color: white;
    box-shadow: 0 0 10px var(--zx-white-50-pr);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zx-que-code {
    font-size: 180px;
    font-weight: bold;
}

.zx-que-whatsup-logo-con {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--ez-whatsup-bg);
}

.zx-que-whatsup-logo {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.zx-que-whatsup-text {
    color: var(--ez-whatsup-bg);
}

/* plotter que */

.zx-que-que-header-con {
    width: 100%;
    background-color: rgb(33, 37, 41);
    border-radius: 28px 28px 0 0;
}

.zx-que-min-h-order {
    min-height: 72px;
    max-height: 72px;
}

.zx-que-que-footer-con {
    width: 100%;
    min-height: 42px;
    background-color: rgba(151, 37, 99, 0.1);
    border-radius: 0 0 28px 28px;
}

.zx-que-order {
    background-color: var(--zx-gray-v-v-light);
}

.zx-que-order:nth-of-type(even) {
    background-color: var(--zx-gray-v-v-v-light);
}

.zx-que-order-odd {
    background-color: var(--zx-gray-v-v-v-light);
}

.zx-que-order-odd:nth-of-type(even) {
    background-color: var(--zx-gray-v-v-light);
}

.zx-que-order-printing {
    background-color: var(--zx-green-slightly-light) !important;
}

.zx-que-empty-icon {
    min-width: 150px;
    max-width: 150px;
    min-height: 130px;
    max-height: 130px;
    background-size: cover;
}

.zx-que-tiny-icon {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    background-size: cover;
}

/* scrollbar */

#scrollContainer::-webkit-scrollbar {
    width: 7px;
    border-radius: 3px;
}

#scrollContainer::-webkit-scrollbar-thumb {
    background: var(--zx-green);
}

/* DUBBLE QUEUE -------------------------------------------------------------------------- DUBBLE QUEUE */

.zx-rounded-top-5 {
    border-radius: 50px 50px 0 0;
    border: 10px solid var(--zx-pink-que-oppacity);
    border-bottom: none;
}

.zx-rounded-bottom-5 {
    border-radius: 0 0 50px 50px;
    background-color: rgba(255, 255, 255, 0.18);
    border: 10px solid var(--zx-pink-que-oppacity);
    border-top: none;
}

.zx-branch-dubble-printer-top {
    padding: 160px 40px 80px 40px;
}

.zx-branch-dubble-printer-bottom {
    padding: 80px 40px 160px 40px;
}

.zx-que-place-con-dubble-branch {
    padding: 0 30px;
    height: 195px;
}

.zx-que-que-con-dubble-branch {
    padding: 56px 30px;
}

.zx-icon-con-dubble-branch {
    width: 90px;
    height: 90px;
    min-height: 90px;
    min-width: 90px;
    max-width: 90px;
    max-height: 90px;
    padding: 15px;
}


.animation-con {
    width: 170px;
    height: 170px;
    min-width: 170px;
    min-height: 170px;
}

#animationContainerDocs {
    scale: 1.3;
}