/* general main components */

@import '../../../assets/typology';

.zx-files-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    max-width: 100%;
    padding: 10px 0 0 0;
    box-shadow: 0 0 13px rgba(85, 85, 85, 0.4);
    z-index: 1;
    position: relative;
}

.zx-settings-area {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.zx-settings-area-inner {
    padding: 0 10px 15px 10px;
}

.zx-px-10 {
    padding: 2px 10px 0 10px;
}

@media only screen and (min-width: 768px) {
    .zx-files-area-outer-outer {
        display: flex;
        position: relative;
        max-height: 100%;
        height: 100%;
        max-width: 186px;
        width: 186px;
    }

    .zx-files-area-outer {
        display: flex;
        position: absolute;
        height: 100%;
    }

    .zx-files-area {
        align-items: center;
        gap: 15px;
        height: 100%;
        max-height: 100%;
        padding: 15px 0 10px 0;
        overflow: auto;
        position: relative;
        box-shadow: unset;
        min-width: 164px;
    }

    .zx-settings-area-inner {
        padding: 0 0 15px 15px;
    }

    .zx-settings-area-inner-rtl {
        padding: 0 15px 15px 0;
    }

    .zx-px-10 {
        padding: 2px 15px 0 15px;
        width: 100%;
    }
}

.zx-files-area-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 10px 6px 10px;
    overflow: auto;
}

.zx-file-obj {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.zx-page-obj-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.zx-page-obj-container-bg {
    padding: 5px;
    border-radius: 8px;
    background-color: #ebebeb;
}

.zx-page-obj-container-bg-darkmode {
    background-color: var(--zx-white-10-pr);
}

.zx-page-obj {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

.zx-page-obj-first {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

.zx-img-obj-container-container {
    max-height: 100%;
    align-items: center;
}

.zx-img-obj-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    border-radius: 8px;
}

.zx-img-obj-container-container:hover {
    background-color: var(--zx-gray-light-light-light);
}

.zx-img-obj-container-container:hover .zx-img-obj-container {
    background-color: var(--zx-gray-light-light-light);
}

.zx-img-obj {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.zx-img-obj-container img.zx-img-obj {
    object-fit: contain;
    border-radius: 8px;
}

@media only screen and (min-width: 768px) {
    .zx-files-area-inner {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        height: unset;
        padding: 0 2px 6px 2px;
    }

    .zx-file-obj {
        gap: 5px;
    }

    .zx-page-obj-container {
        flex-direction: column;
        gap: 5px;
        border-radius: 20px 20px 8px 8px;
    }

    .zx-page-obj {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: 201px;
        min-height: 201px;
        max-height: 201px;
    }

    .zx-page-obj-first {
        height: 225px;
        min-height: 225px;
        max-height: 225px;
    }

    .zx-height-201 {
        height: 201px;
        min-height: 201px;
        max-height: 201px;
    }
}

.zx-image-with-no-paper {
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: var(--zx-pink);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5px;
    padding: 5px 0;
    opacity: 80%;
}

.zx-image-with-paper {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 3px;
    position: absolute;
    padding: 5px 2px;
}

.zx-files-area-item-small {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    transition: 300ms;
}

.upload-file-icon {
    width: 110px;
    height: 82px;
    min-width: 110px;
    min-height: 82px;
}

.upload-file-icon-big {
    width: 213px;
    height: 167px;
    min-width: 213px;
    min-height: 167px;
}

.upload-file-icon-small {
    width: 55px;
    height: 41px;
    min-width: 55px;
    min-height: 41px;
}

.upload-file-icon-small-next {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
}

.exclamation-icon-red {
    width: 21px;
    height: 21px;
    min-width: 21px;
    min-height: 21px;
}

.zx-pt-md-17 {
    padding: 5px 0 0 0;
}

.zx-files-area-item-tiny {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 300ms;
}

@media only screen and (min-width: 768px) {
    .zx-files-area-item-sm-big {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: 201px;
        min-height: 201px;
        max-height: 201px;
    }

    .zx-pt-md-17 {
        padding: 17px 0 0 0;
    }

    .zx-image-with-paper {
        padding: 12px 2px;
    }

    .zx-files-area-item-tiny {
        flex-direction: row;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: unset;
        min-height: unset;
        max-height: unset;
        transition: 300ms;
    }
}

button.zx-border-gray {
    border: 1px solid var(--mat-standard-button-toggle-divider-color);
}

.zx-min-h-50 {
    min-height: 50px;
}

input.zx-copies-input {
    width: 40px;
    max-width: 40px;
    text-align: center;
    border: 1px solid var(--mat-standard-button-toggle-divider-color);
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

mat-icon {
    line-height: 21px;
}

.zx-bg-dark {
    background-color: var(--zx-dark-90-pr);
    color: white;
    border: unset !important;
}

.zx-text-white-bg-transparent {
    background-color: transparent;
    color: white;
}

.zx-border-choosen {
    border: 2px solid var(--zx-green);
    box-shadow: 0 0 8px var(--zx-green-vivid-light);
    border-radius: 10px !important;
}


@media only screen and (min-width: 768px) {
    .zx-border-choosen {
        box-shadow: 0 0 10px var(--zx-green-vivid-light);
    }
}

.zx-bg-choosen {
    background-color: var(--zx-green-vivid-v-light-no-oppacity);
}

mat-button-toggle.mat-button-toggle-checked:not(.mat-button-toggle-disabled) {
    font-weight: 600;
}

mat-button-toggle.mat-button-toggle-checked.mat-button-toggle-disabled {
    background-color: var(--mat-standard-button-toggle-disabled-state-background-color) !important;
    color: var(--mat-standard-button-toggle-disabled-state-text-color) !important;
}

// img preview

.zx-p-preview-container {
    padding: 66px 30px 28px 30px;
}

.zx-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    box-shadow: 0 0 2px var(--zx-green);
}

.zx-preview-img-rotated {
    transform: translateX(-50%);
}

.zx-preview-img-rotated-not-rtl {
    transform: translateX(50%);
}

.preview-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.preview-image-inner-not-centered {
    transform: rotate(90deg) translateY(-50%);
    transform-origin: left;
}

.preview-image-inner-not-centered-not-rtl {
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: right;
}

.preview-image-inner-centered {
    transform: rotate(90deg) translateX(50%);
    transform-origin: center;
}

.zx-100-opacity {
    opacity: 0;
}

.zx-c-and-w-img {
    filter: grayscale(100%);
}

// dimentiion

.dimm-container-up {
    position: absolute;
    width: 100%;
    height: 16px;
    top: -16px;
    display: flex;
    flex-direction: row;
}

.dimm-container-side {
    position: absolute;
    height: 100%;
    width: 16px;
    left: -16px;
    display: flex;
    flex-direction: row-reverse;
}

.dimm-container-side-express {
    position: absolute;
    height: 100%;
    width: 16px;
    left: -16px;
    display: flex;
    flex-direction: column;
}

.dimm-container-side-not-rtl {
    left: unset;
    right: -16px;
    flex-direction: row;
}

.dimm-container-side-not-rtl-express {
    left: unset;
    right: -16px;
    flex-direction: column;
}

.dimm-container-side-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.dimm-side-lines {
    height: 100%;
    width: 60%;
    border-top: 1px solid var(--zx-gray-mid);
    border-bottom: 1px solid var(--zx-gray-mid);
    display: flex;
    justify-content: center;
}

.dimm-side-line {
    height: 100%;
    border-left: 1px solid var(--zx-gray-mid);
}

.dimm-number-side {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.dimm-number-side-not-rtl {
    transform: translateY(-50%) translateX(50%);
}

.dimm-container-up-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dimm-up-lines {
    width: 100%;
    height: 60%;
    border-left: 1px solid var(--zx-gray-mid);
    border-right: 1px solid var(--zx-gray-mid);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dimm-up-line {
    width: 100%;
    border-bottom: 1px solid var(--zx-gray-mid);
}

.dimm-number-up {
    position: absolute;
    top: -29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(50%);
}

.dimm-number-up-not-rtl {
    transform: translateX(-50%);
}

// MORE

.zx-border-parenthesis {
    border-radius: 7px;
    border-left: 1px solid var(--zx-gray-light-mid);
    border-right: 1px solid var(--zx-gray-light-mid);
}

.tooltip-host ::ng-deep .mat-tooltip {
    direction: ltr;
    /* Change this to 'rtl' for Hebrew */
}

.zx-bg-dark-light {
    background-color: var(--zx-dark-50-pr);
    box-shadow: inset 0 0 17px #000000;
}

.zx-pt-small {
    padding-top: 2px !important;
}

.preview-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: 0;
    transition: opacity 250ms;
}

.preview-button-not-rtl {
    left: unset;
    right: 8px;
}

.zx-p-preview-container:hover .preview-button {
    opacity: 1;
}

.zx-pb-12 {
    padding-bottom: 12px;
}

.zx-pb-35 {
    padding-bottom: 35px;
}

// delete-button

.delete-button {
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 250ms;
    border: 1px solid var(--zx-white-20-pr);
}

.delete-button-fix-mobile {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .delete-button-fix-mobile {
        opacity: 0;
    }
}

.zx-img-obj-container:hover .delete-button {
    opacity: 1;
}

.delete-button:hover {
    border: 1px solid var(--zx-red);
}

// // delete-button

.zx-paper-red {
    border: 2px solid var(--zx-pink) !important;
    font-weight: 600;
    color: var(--zx-pink);
}

.zx-paper-red-end {
    border-right: none !important;
}

.zx-paper-red-end-not-rtl {
    border-left: none !important;
}

.zx-paper-red-middle-paper {
    border-top: 2px solid var(--zx-pink) !important;
    border-bottom: 2px solid var(--zx-pink) !important;
    border-left: 2px solid var(--zx-pink) !important;
    border-right: none !important;
}

.zx-paper-red-middle-paper-not-rtl {
    border-top: 2px solid var(--zx-pink) !important;
    border-bottom: 2px solid var(--zx-pink) !important;
    border-left: none !important;
    border-right: 2px solid var(--zx-pink) !important;
}

.zx-paper-red-single-paper {
    border: 2px solid var(--zx-pink) !important;
}

.no-image-selected-container {
    position: absolute;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
}

.no-image-selected-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}

.no-image-selected-inner-not-rtl {
    margin-left: unset;
    margin-right: 60px;
}

.no-image-selected-upload-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 520px;
    height: 80%;
    max-height: 95%;
    border-radius: 0.5rem;
}

.file-btn-hover {
    border: 1px solid var(--zx-gray-25-pr);
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.1);
}

.file-btn-hover:hover,
.file-drop-hover {
    border: 1px solid var(--zx-green-vivid-light);
    background-color: var(--zx-green-v-light);
    box-shadow: 0 0 10px var(--zx-green-vivid-light-no-oppacity);
    transition: 500ms;
}

.no-image-selected-image {
    display: flex;
    width: 300px;
    max-width: 60%;
    height: 210px;
    max-height: 30%;
}

.zx-border-red-bold {
    border: solid 1px var(--zx-pink);
    box-shadow: 0 0 5px var(--zx-pink-que-oppacity);
}

.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.text-black-imp {
    color: var(--zx-dark) !important;
}

.text-green-imp {
    color: var(--zx-green) !important;
}

.zx-text-white-imp {
    color: white !important;
}

.choose-paper-not-selected-darkmode {
    color: white !important;
    background-color: var(--zx-white-5-pr);
}

// proccessing text
@keyframes gradientWave {

    0% {
        background-position: right;
    }

    50% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.opacity-trans {
    background: linear-gradient(-270deg, var(--zx-green-vivid-light-light-no-oppacity), var(--zx-green) 50%), var(--zx-green-vivid-light-light-no-oppacity) 100%;
    background-size: 200% 100%;
    animation: gradientWave 2500ms linear infinite;
    color: white;
    /* Change this to the color of your text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.opacity-trans-not-rtl {
    background: linear-gradient(270deg, var(--zx-green-vivid-light-light-no-oppacity), var(--zx-green) 50%), var(--zx-green-vivid-light-light-no-oppacity) 100%;
    background-size: 200% 100%;
    animation: gradientWave 2500ms linear infinite;
    color: white;
    /* Change this to the color of your text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.zx-no-paper-text-animation {
    position: absolute;
    bottom: -25px;
}

@keyframes gradientBtnWave {

    0%,
    20%,
    100% {
        background-position: 0% 50%;
        transform: scale(1);
    }

    25% {
        background-position: 100% 50%;
        transform: scale(1.02);
    }

    30% {
        background-position: 0% 50%;
        transform: scale(1);
    }
}

.zx-btn-animate {
    background: linear-gradient(45deg, var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green), rgb(51, 188, 174), var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green), var(--zx-green));
    background-size: 200% 200%;
    animation: gradientBtnWave 20000ms linear infinite;
    transform-origin: center;
}

.zx-management-con {
    border-bottom: 1px solid var(--zx-gray-v-light-mid);
}

.no-wrap {
    white-space: nowrap;
}

div.animated-height {
    transition: min-height 300ms;
    min-height: 0;
}

div.animated-height.zx-100-vh-animation {
    min-height: 100vh;
}

.zx-animate-paper-normal {
    font-size: 16px;
    transition: font-size 500ms;
}

.zx-animate-paper-strong {
    background-color: var(--zx-pink-que-oppacity-low);
    font-size: 20px;
    transition: font-size 500ms;
}

.zx-top-snackbar {
    transform: translateY(200px);
}