::ng-deep .fill-screen-modal-order-summary {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        margin: 15px;
    }

    ::ng-deep .fill-screen-modal-order-summary {
        max-width: 800px;
        height: 630px;
        min-height: 630px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

.zx-max-100-vh {
    max-height: 100vh;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
    overflow-y: auto !important;
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}

.zx-order-summery-image-con {
    min-width: 98px;
    min-height: 96px;
}

@media only screen and (min-width: 992px) {
    .zx-w-lg-50 {
        max-width: 30%;
        padding-top: 5px;
    }

    .zx-order-summery-image-con {
        min-width: 115px;
        min-height: 105px;
    }
}

.zx-100-opacity {
    opacity: 0;
}

.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.zx-max-w-explanation {
    max-width: 750px;
}

/* NOW OR AFTER --------------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.zx-divider {
    width: 100%;
    border-bottom: 1px solid var(--zx-pink-light-25-pr);
    margin-top: 10px;
    margin-bottom: 10px;
}

::ng-deep .zx-code-input-con input.mat-mdc-input-element {
    font-size: 28px !important;
    color: var(--zx-pink) !important;
    font-weight: 600 !important;
    text-align: center !important;
    min-height: 38px !important;
}

::ng-deep .zx-code-input-con-empty input.mat-mdc-input-element {
    font-size: 20px !important;
    font-weight: 400 !important;
}

@media only screen and (min-width: 992px) {
    .zx-now-or-after-con {
        height: 366px;
        max-width: 340px;
        width: 340px;
        gap: 8px;
        justify-content: space-between;
    }

    .zx-divider {
        width: unset;
        height: 330px;
        margin-top: 20px;
        border-left: 1px solid var(--zx-pink-light-25-pr);
        padding: 0;
    }

    ::ng-deep .zx-code-input-con input.mat-mdc-input-element {
        min-height: 54px !important;
        font-size: 38px !important;
    }

    ::ng-deep .zx-code-input-con-empty input.mat-mdc-input-element {
        font-size: 26px !important;
        font-weight: 400 !important;
    }
}

.zx-max-w-btn {
    max-width: 350px;
}

.zx-flex-grow-1-lg-0 {
    flex-grow: 1;
}

.zx-flex-grow-0-lg-1 {
    flex-grow: 0;
}

@media only screen and (min-width: 992px) {
    .zx-flex-grow-1-lg-0 {
        flex-grow: 0;
    }

    .zx-flex-grow-0-lg-1 {
        flex-grow: 1;
    }
}

.card-img {
    transform: translate(12%, 12%);
}

/* delete-button */

.delete-button {
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 250ms;
    border: 1px solid var(--zx-white-20-pr);
}

.delete-button-fix-mobile {
    opacity: 1;
}

.zx-img-obj-container:hover .delete-button {
    opacity: 1;
}

.delete-button:hover {
    border: 1px solid var(--zx-white-75-pr);
    background-color: var(--zx-gray-v-v-light);
    transition: 250ms;
}

.top-clear-field {
    top: 6px;
    left: -17px;
}

.top-clear-field-not-rtl {
    left: unset;
    right: -17px;
}

@media only screen and (min-width: 576px) {
    .zx-transform-Company-id-btn {
        transform: translateY(45px);
    }
}

/* LOTTIE */
/* successfully */
.zx-transition-orders-con {
    background-color: var(--zx-green-slightly-light) !important;
    transition: background-color 250ms;
}

.zx-successfully-lottie-con {
    min-height: 322px;
    opacity: 100%;
}

.zx-successfully-lottie {
    transform: scale(135%);
    transform-origin: center;
    width: 110px;
    height: 110px;
    min-width: 110px;
    min-height: 110px;
}

@media only screen and (min-width: 992px) {
    .zx-successfully-lottie-con {
        min-height: 280px;
    }

    .zx-successfully-lottie {
        transform: scale(220%);
    }
}

.zx-opacity-trans-lottie {
    opacity: 0%;
    transition: opacity 400ms;
}

/* animation-emoji */
#animationConfettiContainer {
    width: 98%;
    height: 450px;
    transform: translateY(200px);
    max-height: 300px;
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    #animationConfettiContainer {
        width: 798px;
        height: 530px;
        transform: translateY(50px);
        max-height: 530px;
    }
}

.zx-animate-option-btn-not {
    transform: scale(1);
    font-size: 14px;
    font-weight: 400;
    transition: 250ms;
}

.zx-animate-option-btn {
    transform: scale(1.08);
    font-size: 17px;
    font-weight: 700;
    transition: 250ms;
}

.zx-cursor-auto {
    cursor: unset;
}

.zx-success-icon {
    width: 161px;
    height: 127px;
}

.max-w-explain {
    max-width: 450px;
}

.zx-h-140-sm {
    height: 140px;
}

@media only screen and (min-width: 768px) {
    .zx-h-140-sm {
        height: unset;
    }
}

::ng-deep .zx-rounded-start .mat-mdc-text-field-wrapper.mdc-text-field {
    border-radius: 4px 0 0 0;
}

::ng-deep .zx-rounded-end .mat-mdc-text-field-wrapper.mdc-text-field {
    border-radius: 0 4px 0 0;
}

::ng-deep [dir="ltr"] .mdc-floating-label {
    transform-origin: left center !important;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
}

.zx-min-w-price {
    min-width: 45px;
}

.opacity-trans {
    background: linear-gradient(-270deg, var(--zx-green-vivid-light-light-no-oppacity), var(--zx-green) 50%), var(--zx-green-vivid-light-light-no-oppacity) 100%;
    background-size: 200% 100%;
    animation: gradientWave 2500ms linear infinite;
    color: white;
    /* Change this to the color of your text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}