<div class="fill-height p-2">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card>
    <mat-accordion multi="true" *ngIf="branches.length > 0 && !isLoading">
      <mat-expansion-panel *ngFor="let branch of branches">
        <mat-expansion-panel-header>
          <span>Branch Name: <b>{{ branch.name }}</b></span>
        </mat-expansion-panel-header>
        <div class="d-flex flex-column flex-sm-row gap-3 w-100">
          <div class="d-flex flex-column gap-3 col-12 col-sm-6">
            <span class="px-3 py-2 rounded-pill zx-border-gray-v-light">
              {{ "is Express: " }} <b>{{ branch.isExpress }}</b>
            </span>
            <span class="px-3 py-2 rounded-pill zx-border-gray-v-light">
              {{ "is Plotter: " }} <b>{{ branch.isPlotter }}</b>
            </span>
            <span class="px-3 py-2 rounded-pill zx-border-gray-v-light">
              {{ "is Ph: " }} <b>{{ branch.isPh }}</b>
            </span>
            <span class="px-3 py-2 rounded-pill zx-border-gray-v-light">
              {{ "Paper Types: " }} <b class="px-2 py-1 rounded-pill zx-border-gray-v-light"
                *ngFor="let paper of branch.papers">{{ paper.paperName }}</b>
            </span>
          </div>
          <div class="branch-image col-12 col-sm-6 p-2 zx-border-gray-v-light rounded-2"
            style="max-width: 200px; max-height: 200px;">
            <img [src]="branch.branchLogo" [alt]="branch.name">
          </div>
        </div>
        <mat-action-row>
          <a mat-button color="primary" [routerLink]="['/branchedit', branch.id]">EDIT</a>
          <button mat-button color="warn" (click)="onDelete(branch.id)">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <p class="info-text mat-body-1" *ngIf="branches.length <= 0 && !isLoading">No branches added yet!</p>
    <div class="spacer"></div>
  </mat-card>
</div>

<div class="p-2">
  <mat-paginator class="m-0" [length]="totalBranches" [pageSize]="branchesPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="branches.length > 0"></mat-paginator>
  <div class="pt-2">
    <button class="w-100 rounded-pill" mat-raised-button type="button" (click)="toBranchesCreate()">
      Create a Branch
    </button>
  </div>
</div>