::ng-deep .fill-screen-modal-resize {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        margin: 15px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

.zx-max-100-vh {
    max-height: 100vh;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}

.zx-centered {
    left: 50%;
    transform: translateX(-50%);
}

.zx-choosen-size {
    color: var(--zx-pink);
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 0 !important;
    background-color: rgba(202, 202, 202, 0.3);
    border-radius: 2px;
}

.zx-size:hover {
    color: var(--zx-pink-slightly-light);
    font-weight: bold;
    font-size: 15px;
    transition: 100ms;
    padding-bottom: 0 !important;
}

.inline-input {
    display: inline-block;
    background: transparent;
    border: none;
    color: var(--zx-pink);
    font-weight: bold;
    text-align: center;
}

.inline-input:focus {
    outline: none;
}

.inline-input::-webkit-inner-spin-button {
    opacity: 1;
}

.inline-input::-webkit-inner-spin-button:hover {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
    display: inline-block;
}

.dpi-color-container {
    position: absolute;
    top: 3px;
    width: 100%;
    display: flex;
}

/* resize colore */

::ng-deep .mdc-slider__track--active_fill {
    opacity: 0 !important;
}

::ng-deep .mdc-slider__track--active {
    opacity: 1 !important;
}

/* ::ng-deep .mat-mdc-slider .mdc-slider__thumb-knob {
    background-color: var(--zx-pink) !important;
} */

::ng-deep .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--zx-pink) !important;
    --mdc-slider-focus-handle-color: var(--zx-pink-slightly-light) !important;
    --mat-mdc-slider-hover-ripple-color: var(--zx-pink-light-25-pr) !important;
    --mat-mdc-slider-focus-ripple-color: var(--zx-pink-light) !important;
}

/* image preview */

.zx-w-resize-preview {
    width: 100%;
    max-width: 90%;
}

.zx-w-resize-preview-dim {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.zx-input-resize-cm {
    max-width: 55px;
}

.zx-pt-input {
    padding-top: 20px !important;
}

@media only screen and (min-width: 992px) {
    .zx-w-resize-preview-dim {
        width: 140px;
        max-width: 140px;
        min-width: 140px;
    }

    .zx-input-resize-cm {
        max-width: 95px;
    }

    .zx-pt-input {
        padding-top: 28px !important;
    }

    .zx-w-resize-preview {
        max-width: 650px;
    }
}

.zx-h-resize-preview-dim {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
}

.zx-input-underline {
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, var(--zx-pink-slightly-light), var(--zx-pink-slightly-light), var(--zx-pink-slightly-light), var(--zx-pink-slightly-light), transparent, transparent, transparent);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom;
}

.zx-max-w-lg-modal {
    max-width: 100% !important;
    height: 142px !important;
    min-height: 142px !important;
}

@media only screen and (min-width: 992px) {
    .zx-max-w-lg-modal {
        max-width: 920px !important;
        height: 80px !important;
        min-height: 80px !important;
    }
}