/* general main components */

@import '../../../assets/typology';

.map-branch-item {
    background-color: var(--zx-white-75-pr);
    top: 0;
    transform: translateX(30%);
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0.5rem;
    padding: 6px 4px;
    border: 1px solid var(--zx-gray-light-light);
}

.map-branch-item:hover {
    background-color: var(--zx-green-hover);
    box-shadow: 0 0 3px var(--zx-green-hover);
    border: 1px solid var(--zx-green);
    transform: translateX(30%) scale(1.04);
    transition: transform 70ms;
    cursor: pointer;
    z-index: 1;
}

.map-branch-item-not-rtl {
    transform: translateX(-50%);
}

.map-branch-item-not-rtl:hover {
    background-color: var(--zx-white-90-pr);
    transform: translateX(-50%) scale(1.02) !important;
    transition: transform 120ms;
}

section.zx-step-choosen {
    background-color: var(--zx-green-vivid-light-darked) !important;
}

section.zx-step-choosen-dark {
    background-color: var(--zx-green-vivid-light-light-no-oppacity) !important;
}

.zx-step-effect {
    transform: scale(1.012);
    box-shadow: 0 0 2px var(--zx-green);
    transition: transform 200ms, box-shadow 200ms;
}

#map-branch-container {
    width: 100%;
    overflow-x: hidden;
}

.zx-map-image {
    object-fit: contain;
    min-width: 200%;
}

@media only screen and (min-width: 992px) {
    .map-branch-item {
        width: 140px;
        min-width: 140px;
    }
}

.zx-bg-unset {
    background-color: unset;
}