::ng-deep .fill-screen-modal-apply-to-all {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        margin: 15px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

.zx-max-100-vh {
    max-height: 100vh;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}

@media only screen and (min-width: 992px) {
    .zx-w-lg-50 {
        max-width: 30%;
    }
}

.zx-max-w-880 {
    max-width: 880px;
}