::ng-deep .fill-screen-modal-right-place {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 90vh !important;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        margin: 15px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

mat-expansion-panel {
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.1) !important;
}

mat-expansion-panel:hover {
    box-shadow: 4px 4px 15px var(--zx-gray-85);
    transition: 300ms;
    cursor: pointer;
}

::ng-deep mat-expansion-panel-header.mat-expansion-panel-header.zx-flex-row-reverse {
    flex-direction: row-reverse !important;
}

::ng-deep mat-expansion-panel-header.mat-expansion-panel-header.zx-flex-row-reverse span {
    justify-content: end !important;
}

::ng-deep div.mat-expansion-panel-body {
    padding: 0;
}

.zx-max-100-vh {
    max-height: 100vh;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
}

::ng-deep mat-pseudo-checkbox {
    display: none !important;
}