<div class="fill-height p-2 d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex h-100 align-items-center justify-content-center">
    <mat-spinner class="zx-small-icon-size"></mat-spinner>
  </div>
  <!-- orders -------------------------------------------------------------------------------------------------------- orders -->
  <div *ngIf="!isLoading" class="w-100 flex-grow-1 d-flex flex-column align-items-center justify-content-center gap-3">
    <!-- <span>Pending Order Component</span>
    <span>printingService: {{printingService}}</span>
    <span>orderId: {{orderId}}</span> -->
    <h6>
      {{ "pending-order.title" | translate }}
    </h6>

    <button class="rounded-pill text-white" mat-raised-button color="primary" type="button"
      (click)="openOrderSummary()">
      {{ "my-profile.go-to-order-one" | translate }}
    </button>

    <!-- created  order.addedToQueue-->
    <span class="zx-text-tiny zx-text-sm-small opacity-75 pt-2">
      <span>
        {{ "my-orders.created" | translate }}
      </span>
      <span>
        {{ "my-orders.at" | translate }}
      </span>
      <span>
        {{ order.created | date:'HH:mm' }}
      </span>
      <span>
        {{ "my-orders.at" | translate }}
      </span>
      <span>
        {{ order.created | date:'dd/MM/yy' }}
      </span>
    </span>
    <!-- // created -->
  </div>
</div>

<div class="p-2 d-flex flex-column">
  <div class="pt-2">
    <button class="w-100 rounded-pill" mat-stroked-button color="primary" type="button" (click)="goToNewOrder()">
      {{ "main-nav.new-order" | translate }}
    </button>
  </div>
</div>