.zx-tooltop-container {
    width: 280px;
    max-height: 500px;
    overflow-y: auto;
}

.zx-text-sm-white {
    color: var(--zx-dark);
}

@media only screen and (min-width: 576px) {
    .zx-tooltop-container {
        background-color: #575757;
        max-height: unset;
    }

    .zx-text-sm-white {
        color: white;
    }
}