<!-- plotter -->
<div *ngIf="printingService === 'plotter'" class="zx-tooltop-container rounded-2 d-flex flex-column gap-1 mx-2">
    <div *ngFor="let inputBin of inputBins; let i = index" class="w-100 d-flex flex-column gap-1 p-2"
        [class.zx-border-top-gray-25-pr]="i !== 0" [class.align-items-end]="!isRTL">
        <b class="zx-text-sm-white zx-text-small pb-1" [class.zx-ltr]="!isRTL">
            {{ "paper-type.name." + inputBin.paperType.paperType | translate }}
        </b>
        <div class="w-100 d-flex align-items-center justify-content-between" [class.flex-row-reverse]="!isRTL">
            <span class="zx-text-sm-white zx-text-tiny">
                {{ "su-management.branches_paper-width" | translate }}
            </span>
            <span class="zx-text-sm-white zx-text-tiny" [class.zx-ltr]="!isRTL">
                <span>
                    {{ inputBin.paperType.paperWidth / 1000 }}
                </span>
                <span>
                    {{ "printing-table.dimensions-cm" | translate }}
                </span>
            </span>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-between" [class.flex-row-reverse]="!isRTL">
            <span class="zx-text-sm-white zx-text-tiny">
                {{ "su-management.branches_paper-weight" | translate }}
            </span>
            <span class="zx-text-sm-white zx-text-tiny" [class.zx-ltr]="!isRTL">
                <span>
                    {{ inputBin.paperType.paperWeight }}
                </span>
                <span>
                    {{ "su-management.branches_paper-weight-g" | translate }}
                </span>
            </span>
        </div>
        <span class="zx-text-sm-white zx-text-tiny pt-1" [class.zx-ltr]="!isRTL" [class.text-start]="!isRTL">
            {{ "paper-type.description." + inputBin.paperType.paperType | translate }}
        </span>
    </div>
</div>
<!-- express -->
<div *ngIf="printingService === 'express'" class="zx-tooltop-container rounded-2 d-flex flex-column gap-1 mx-2">
    <div *ngFor="let paper of printServicePapers; let i = index" class="w-100 d-flex flex-column gap-1 p-2"
        [class.zx-border-top-gray-25-pr]="i !== 0" [class.align-items-end]="!isRTL">
        <b class="zx-text-sm-white zx-text-small pb-1" [class.zx-ltr]="!isRTL">
            {{ "paper-type.name." + paper.serial_name | translate }}
        </b>
        <div class="w-100 d-flex align-items-center justify-content-between" [class.flex-row-reverse]="!isRTL">
            <span class="zx-text-sm-white zx-text-tiny">
                {{ "su-management.branches_paper-width" | translate }}
            </span>
            <span class="zx-text-sm-white zx-text-tiny" [class.zx-ltr]="!isRTL">
                <span>
                    {{ expressPapers[i].paperWidth }}
                </span>
                <span>
                    {{ "printing-table.dimensions-cm" | translate }}
                </span>
            </span>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-between" [class.flex-row-reverse]="!isRTL">
            <span class="zx-text-sm-white zx-text-tiny">
                {{ "su-management.branches_paper-height" | translate }}
            </span>
            <span class="zx-text-sm-white zx-text-tiny" [class.zx-ltr]="!isRTL">
                <span>
                    {{ expressPapers[i].paperHeight }}
                </span>
                <span>
                    {{ "printing-table.dimensions-cm" | translate }}
                </span>
            </span>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-between" [class.flex-row-reverse]="!isRTL">
            <span class="zx-text-sm-white zx-text-tiny">
                {{ "su-management.branches_paper-weight" | translate }}
            </span>
            <span class="zx-text-sm-white zx-text-tiny" [class.zx-ltr]="!isRTL">
                <span>
                    {{ expressPapers[i].paperWeight }}
                </span>
                <span>
                    {{ "su-management.branches_paper-weight-g" | translate }}
                </span>
            </span>
        </div>
        <span class="zx-text-sm-white zx-text-tiny pt-1" [class.zx-ltr]="!isRTL" [class.text-start]="!isRTL">
            {{ "paper-type.description." + paper.serial_name | translate }}
        </span>
    </div>
</div>