// Responsive flex direction for product items
.step-item-trans-product {
  @media only screen and (max-width: 767px) {
    flex-direction: column-reverse !important;
    gap: 15px;
  }
}

.text-con-product {
    padding: 12px 5px 0 5px;
    min-width: 310px
}

@media only screen and (min-width: 768px) {
    .text-con-product {
        min-width: unset;
    }
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep img.zx-by-print-no-arrow {
        width: auto;
        height: 15px;
    }
}

// btn

:host ::ng-deep button.zx-by-print-no-btn {
    color: var(--zx-green);
}

/* CANVAS */

.zx-canvas-inner {
    height: 80%;
    max-height: 400px;
}

// DESIGNED HOME PAGE!

.printing-service-btn-100-h-com {
    min-height: 100%;
}

@media only screen and (min-width: 768px) {
    .printing-service-btn-con {
        width: 100%;
    }

    .printing-service-btn-100-h-com {
        min-height: unset;
    }
}

// text effects - title trans
@keyframes gradientWave {

    0%,
    7%,
    100% {
        background-position: 100% 50%;
    }

    10% {
        background-position: 0% 50%;
    }

    16% {
        background-position: 100% 50%;
    }
}

.title-trans {
    background: linear-gradient(-55deg, var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-25-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr), var(--zx-dark-90-pr)) no-repeat;
    background-size: 200% 100%;
    animation: gradientWave 10s linear infinite;
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zx-about-con-up {
    flex-grow: 1;
}

.zx-about-con-down {
    background-color: var(--zx-gray-light-light-light-opacity);
}

@media only screen and (min-width: 768px) {
    .zx-about-con-up {
        height: unset;
        min-height: unset;
        flex-grow: unset;
    }

    .zx-about-con-down {
        height: unset;
        min-height: unset;
        background-color: unset;
    }
}

.transform-y-btn {
    transform: translateY(-145px);
    transition: 800ms;
}

.zx-big-icon-size-trans {
    width: 310px;
    height: 310px;
    min-width: 310px;
    min-height: 310px;
    max-width: 310px;
    max-height: 310px;
    transition: 800ms;
}

.zx-medium-icon-size-trans {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding: 0 !important;
    transition: 800ms;
}

.zx-system-empty-icon {
    width: 172px;
    height: 120px;
    min-width: 172px;
    min-height: 120px;
    max-width: 172px;
    max-height: 120px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.zx-system-papers-icon {
    width: 172px;
    height: 120px;
    min-width: 172px;
    min-height: 120px;
    max-width: 172px;
    max-height: 120px;
    margin-top: 17px;
    margin-bottom: 17px;
}

@media only screen and (min-width: 1120px) {
    .zx-system-empty-icon {
        width: 344px;
        height: 241px;
        min-width: 344px;
        min-height: 241px;
        max-width: 344px;
        max-height: 241px;
    }

    .zx-system-papers-icon {
        width: 257px;
        height: 200px;
        min-width: 257px;
        min-height: 200px;
        max-width: 257px;
        max-height: 200px;
        margin-top: 17px;
        // margin-bottom: 17px;
    }
}

.zx-grow-font-before {
    font-size: 1px;
    transition: 700ms;
}

.zx-grow-font-after {
    font-size: 14px;
    transition: 700ms;
}

.step-item-height-trans {
    max-height: unset !important;
    height: unset !important;
    min-height: unset !important;
    transition: 800ms;
}

.zx-dark-gb {
    background-color: var(--zx-dark-gb) !important;
}


.mat-toolbar-height {
    max-height: 45px;
    min-height: 45px;
    width: 100%;
}


@media only screen and (min-width: 576px) {
    .mat-toolbar-height {
        max-height: 52px;
        min-height: 52px;
    }


}

.flex-grow-1-md-0 {
    flex-grow: 1;
}

.vh-100-sm-none {
    height: 100vh;
}

.zx-big-title {
    font-size: 25px;
}

@media only screen and (min-width: 768px) {

    .flex-grow-1-md-0 {
        flex-grow: 0;
    }

    .vh-100-sm-none {
        height: unset;
    }
}

.overflow-y-auto::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}

.scroll-for-info-con {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}