<div class="fill-height p-2">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card>
    <form class="h-100 d-flex flex-column p-2" [formGroup]="form" (submit)="onSaveBranch()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Branch Name">
        <mat-error *ngIf="form.get('name').invalid">Please enter a branch name.</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <mat-checkbox [(ngModel)]="form.value.isExpress" formControlName="isExpress">isExpress</mat-checkbox>
      <mat-checkbox [(ngModel)]="form.value.isPlotter" formControlName="isPlotter">isPlotter</mat-checkbox>
      <mat-checkbox [(ngModel)]="form.value.isPh" formControlName="isPh">isPh</mat-checkbox>
      <mat-form-field>
        <mat-label>Paper Types</mat-label>
        <mat-select formControlName="papers" multiple>
          <mat-option *ngFor="let paperType of availablePaperTypes" [value]="paperType.id">
            {{ paperType.paperName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button #hiddenSubmitBtn type="submit" style="display: none;"></button>

    </form>
  </mat-card>
</div>

<div class="p-2">
  <div class="d-flex flex-column flex-md-row gap-2">
    <button class="w-100 rounded-pill" mat-raised-button color="primary" type="button" (click)="submitForm()">
      Save Branch
    </button>
    <button class="w-100 rounded-pill" *ngIf="isModeEdit" mat-raised-button color="primary" type="button"
      (click)="backToBranches()">
      Don't Save Changes
    </button>
    <button class="w-100 rounded-pill" mat-raised-button type="button" (click)="toBranchesList()">
      Branch List
    </button>
  </div>
</div>